<ul>
  {{#events}}
    <li style="padding:5px 0;">
        <div style="font-size:1.5em;color:#222;">{{ title }}</div>
        <div style="font-size:1em;color:#444;">{{ description }}</div>
    </li>
  {{/events}}
</ul>
